@model GrapePhoto.Web.Models.Account.User

@{
    Layout = null;
}


<li class="list-separated-item">
    <div class="row align-items-center">
        <div class="col-auto">
            @if (string.IsNullOrEmpty(Model.AvatarPicUrl))
                {
                    <div class="avatar avatar-md mr-3">@Model.UserId.Substring(0, 2).ToUpper()</div>
            }
            else
            {
                    <span class="avatar avatar-md d-block" style="background-image: url('@Model.AvatarPicUrl')"></span>
            }

        </div>
        <div class="col">
            <div>
                <a href="javascript:void(0)" class="text-inherit">@Model.UserId</a>
            </div>
        </div>
        <div class="col-auto">
            <div class="item-action dropdown">
                <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="@Url.Action("Index","Profile", new { id = Model.UserId})" class="unfollowaction dropdown-item" data-id="@Model.UserId"><i class="dropdown-icon fe fe-tag"></i> Unfollow </a>
                </div>
            </div>
        </div>
    </div>
</li>