@model IndexViewModel

@if (Model.FollowingUsers.Any())
{
    <div class="row">
        <div class="col-lg-8">
            @foreach (var item in Model.Posts)
            {
                @Html.Partial("_FollowingPost", item)
            }
        </div>
        <div class="col-lg-4 parent-container" id="index-right">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Following</h3>
                </div>
                <div class="card-body o-auto" style="height: 30rem">
                    <ul class="list-unstyled list-separated">
                        @foreach (var user in Model.FollowingUsers)
                        {
                            @Html.Partial("_FollowingUserItems", user)
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-primary">Find out that you didn't following anyone, here are some users for you</div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Suggest Following</h3>
        </div>
        <div class="table-responsive">
            <table class="table card-table table-striped table-vcenter">
                <thead>
                    <tr>
                        <th colspan="2">User</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="avatar">BM</span></td>
                        <td>Russell Gibson</td>

                        <td><a href="#" class="btn btn-pill"><i class="fe fe-user-plus"></i> Follow</a></td>
                    </tr>
                    <tr>
                        <td><span class="avatar">BM</span></td>
                        <td>Russell Gibson</td>

                        <td><a href="#" class="btn btn-pill"><i class="fe fe-user-plus"></i> Follow</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

}

@Html.Partial("_FloatingButton")
@Html.Partial("_AddPostDialog")

@section Scripts{
    <script>

        require(['jquery','../lib/sweetalert2/dist/sweetalert2.all.min.js'], function ($, Swal) {
            $(document).ready(function () {
                $("#homelink").addClass("active");


                $('.btn-post').click(function () {
                    console.log("adding post.");
                    var url = '@Url.Action("AsyncUpload","Common")';
                    var formData = new FormData($("#addPostForm")[0]);
                    $("#addpostcontent").addClass("active");
                    $.ajax({
                        method: 'post',
                        url: url,
                        data: formData,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            $("#addpostcontent").removeClass("active");
                            if (data.success) {

                                location.reload();
                            }
                            else {
                                Swal('Oops...', data.message, 'error')

                            }
                        }, //End of AJAX Success function

                        failure: function (data) {
                            console.log(data);
                        }, //End of AJAX failure function
                        error: function (data) {
                            console.log(data);
                        } //End of AJAX error function
                    });
                });

                bindingUnfollowEvent();
            });
            function bindingUnfollowEvent() {

                    $('.unfollowaction').click(function () {
                    var url = '@Url.Action("Unfollow","Common")';

                    var self = this;
                    var followUserId = $(this).data("id");

                    $.ajax({
                        method: 'post',
                        url: url,
                        data: { id: followUserId },
                        dataType: "json",
                        success: function (data) {

                            console.log(data);
                            if (data.success) {
                                location.reload();
                            }
                            else {
                                Swal('Oops...', data.message, 'error')
                            }
                        }, //End of AJAX Success function

                        failure: function (data) {
                            console.log(data);
                        }, //End of AJAX failure function
                        error: function (data) {
                            console.log(data);
                        } //End of AJAX error function
                    });
                });

              }
        });

        require(['jquery', '../lib/photoswipe/dist/photoswipe.js', '../lib/photoswipe/dist/photoswipe-ui-default.js'],
            function ($, PhotoSwipe, PhotoSwipeUI_Default) {
                $(document).ready(function () {
                    $("img.grapephoto").click(function (e) {
                        var index = $(this).index();
                        var pswpElement = document.querySelectorAll('.pswp')[0];
                        var items = [];
                        $("img.grapephoto").each(function (index, value) {
                            var imageLink = $(value).closest("a").attr("src");
                            var w = $(this).parent("a").data("width");
                            var h = $(this).parent("a").data("height");
                            items.push({
                                src: imageLink,
                                w: w,
                                h: h
                            });
                        });
                        var options = {
                            index: index,
                            history: false,
                            focus: false,
                            showAnimationDuration: 0,
                            hideAnimationDuration: 0
                        };

                        var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
                        gallery.init();
                    });

                });
            });
    </script>
}