@using GrapePhoto.Proxy
@inject IAccountClient userManager
@model PostViewModel
@{
    Layout = null;
    var user = userManager.GetUserByUserId(User.Identity.Name);
    var hasAvatar = !string.IsNullOrEmpty(user?.AvatarPicUrl);
    var nameCaptialLetter = user?.UserId.Substring(0, 2).ToUpper();

}
    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <a src="@Model.Picture.Src" data-width="@Model.Picture.Width" data-height="@Model.Picture.Height" class="mb-0">
                <img src="@Model.Picture.ThumbnailSrc" class="grapephoto profile-post" alt="@Model.Picture.AltAttribute">
            </a>
            <div class="d-flex align-items-center p-3">
                @if (!string.IsNullOrEmpty(Model.User.AvatarPicUrl))
                {
                    <span class="avatar" style="background-image: url('@Model.User.AvatarPicUrl' )">

                    </span>
                }
                else
                {
                    <span class="avatar avatar-azure mr-3">@Model.User.UserId.Substring(0, 2).ToUpper()</span>
                }
                <div>
                    <a href="@Url.Action("Index","Profile", new { id = Model.User.UserId})">@Model.User.UserId</a>
                    <small class="d-block text-muted">@Model.Picture.PostDate.ToFriendlyDateTime()</small>
                </div>
                <div class="ml-auto text-muted">


                        <button type="submit" class="btn btn-info btn-xs like-button" style="text-align:center"  id="@(Model.Picture.Id)_Like" name="Like" value="Like" onclick="LikeFunction()">
                            Like
                            <i class="fa fa-thumbs-o-up"> </i>
                            <span id="likecount">@Model.Picture.LikeCount</span>
                        </button>

                     <button type="submit" class="btn btn-info btn-xs like-button"  style="text-align:center"  id="@(Model.Picture.Id)_DisLike" name="DisLike" value="DisLike" onclick="DisLikeFunction()">
                        Dislike
                        <i class="fa fa-thumbs-o- down"></i>
                    </button>
          
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        function LikeFunction() {
           var id = "@(Model.Picture.Id)_PictureId";
            var buttonName = 'Like';
            var likeButtonId = "@(Model.Picture.Id)_Like";
            var DisLikeButtonId = "@(Model.Picture.Id)_DisLike";


            $.ajax({
                url: '@Url.Action("LikePost")',
                data: { 'id': id, 'buttonName': buttonName },
                type: "post",
                cache: false,
                success: function (savingStatus) {
                    document.getElementById(likeButtonId).style.visibility = 'hidden';

                    document.getElementById(DisLikeButtonId).style.visibility = 'visible';
           
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("error")
                }
            });
        }

        function DisLikeFunction() { 
            var id = "@(Model.Picture.Id)_PictureId";
            var buttonName = 'DisLike'
            var likeButtonId = "@(Model.Picture.Id)_Like";
            var DisLikeButtonId = "@(Model.Picture.Id)_DisLike";

            $.ajax({
                url: '@Url.Action("LikePost")',
                data: { 'id': id, 'buttonName': buttonName },
                type: "post",
                cache: false,
                success: function (savingStatus) {
                    document.getElementById(likeButtonId).style.visibility = 'visible';

                    document.getElementById(DisLikeButtonId).style.visibility = 'hidden';
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    
                }
            });
        }

    </script>


