@using GrapePhoto.Proxy
@{
    Layout = "_LayoutRoot";
    var user = userManager.GetUserByUserId(User.Identity.Name);
}
@inject IAccountClient userManager
<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="/">
                <img src='@Url.Content("/images/logo.jpg")' class="header-brand-img" alt="grapephoto logo">
            </a>
            <div class="d-flex order-lg-2 ml-auto">
                @Html.Partial("_LoginPartial")
            </div>
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 ml-auto">
                <form class="input-icon my-3 my-lg-0" id="searchuser" action="@Url.Action("SearchUsers","Account")" method="get">
                    <input type="search" class="form-control header-search" name="q" value="@ViewBag.SearchQuery" tabindex="1">
                    <div class="input-icon-addon">
                        <i class="fe fe-search" id="searchuserico"></i>
                    </div>
                </form>
            </div>
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <li class="nav-item">
                        <a href="/home/Index" class="nav-link" id="homelink"><i class="fe fe-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/explore" class="nav-link" id="explorelink"><i class="fe fe-eye"></i> Explore</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="my-3 my-md-5">
    <div class="container">
        @RenderBody()
    </div>

    <span id="currentUsername" style="visibility: hidden">@user.UserId</span>
    <script>
        const pusher = new Pusher('c5705e0b64eddb898170', {
            cluster: 'ap1'
        });
        const channel = pusher.subscribe('feed');
        channel.bind('new_feed', function (data) {
            var username = document.getElementById("currentUsername").innerText;
            if (`${data.Followers}`.indexOf(username) > -1) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "500",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                var m = `${data.ImageUrl}`;
                var followee = `${data.UserName}`
                var b = `${followee} posted an image: <img src=\"${m}\"/>, comments:${data.Content}`;
                toastr.info(b, " ");
            }
            else { 
                channel.unsubscribe('feed');

            }

        });
    </script>

</div>


@section Scripts{
    @RenderSection("Scripts", required: false)
}
