@using GrapePhoto.Proxy
@{
    Layout = null;
    var user = userManager.GetUserByUserId(User.Identity.Name);
    var hasAvatar = !string.IsNullOrEmpty(user?.AvatarPicUrl);
    var nameCaptialLetter = user?.UserId.Substring(0, 2).ToUpper();
}
@inject IAccountClient userManager
 
<div class="dropdown">
    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
        @if (hasAvatar)
        {
        <span class="avatar" style="background-image: url('@user.AvatarPicUrl' )"><span class="avatar-status bg-green"></span>
        </span>
        }
        else
        {
            <span class="avatar avatar-azure">@nameCaptialLetter<span class="avatar-status bg-green"></span></span>
        }
        <span class="ml-2 d-none d-lg-block">
            <span class="text-default" id="username">@user.UserId</span>
            <small class="text-muted d-block mt-1"></small>
        </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
        <a class="dropdown-item" href="@Url.Action("Index","Profile", new { id = user.UserId})">
            <i class="dropdown-icon fe fe-user"></i> Profile
        </a>
        <a class="dropdown-item" href="@Url.Action("ChangePassword","Profile")">
            <i class="dropdown-icon fa fa-key"></i> Change Password
        </a>


        <div class="dropdown-divider"></div>

        <a class="dropdown-item" id="signoutMenu"  href="#">
            <i class="dropdown-icon fe fe-log-out"></i> Sign out
        </a>
    </div>
</div>
<form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm"></form>