@model ProfileIndexModel
@{
    ViewData["Name"] = User.Identity.Name;
    Layout = "~/Views/Shared/_LayoutWithLogoHeader.cshtml";
     
}


<div class="row">
    <div class="col-lg-12">


        <div class="card">
            <div class="card-body">
                <div class="media">

                    @if (!string.IsNullOrEmpty(Model.User.AvatarPicUrl)){
                     <span class="avatar" style="background-image: url('@Model.User.AvatarPicUrl' )">
                      </span>
                    }
                    else
                    {
                     <span class="avatar  avatar-xxl  avatar-azure m-3 mr-5">@Model.User.UserName.Substring(0, 2) </span>
                    }
                    <div class="media-body">
                        <div class="row">
                            <h1 class="col-12">
                                @Model.User.UserName
                                @if (Model.Relationship== Relationship.Unfollowed)
                                {
                                   <button class="btn btn-outline-primary btn-sm ml-3"><span class="fe fe-user-plus"></span> Follow</button>
                                }
                                else if (Model.Relationship == Relationship.Following || Model.Relationship == Relationship.FollowingEachOther)
                                {
                                   <button class="btn btn-success btn-sm ml-3"><i class="fe fe-user-check mr-2"></i>Unfollow</button>
                                }
                                else if (Model.Relationship == Relationship.Self)
                                {
                                    <a class="btn btn-secondary  btn-sm ml-3" href="@Url.Action("Edit")">Edit Profile</a>
                                }
                            </h1>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-lg-8 h4">
                                <a class="col-sm-2 col-lg-4">100</a><span class="font-weight-light">posts</span>
                                <a class="col-sm-2 col-lg-4">@Model.Followers</a><span class="font-weight-light">followers</span>
                                <a class="col-sm-2 col-lg-4">@Model.Followees</a><span class="font-weight-light">following</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">

    <div class="page-header">
        <h1 class="page-title">
            Posts
        </h1>
        <div class="page-options">
            @Html.Partial("_AddPost")
        </div>
    </div>
    <div class="row row-cards">

        @foreach (var item in Model.Posts)
        {
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="hovereffect" data-src="@item.ImgUrl" data-width="@item.Width" data-height="@item.Height">
                        <img src="@item.ThumbUrl")" alt="@item.Title" class="rounded">
                        <div class="overlay">
                            <h2>@item.Title</h2>
                            <a class="info" href="#"><i class="fe fe-heart mr-1"></i>@item.LikeCount</a>
                        </div>
                    </div>
                </div>
            </div>
        }
 
    </div>

    @*<div class="form-footer">
        <button class="btn btn-outline-primary btn-block"><i class="fe fe-plus mr-2"></i>Load More</button>
    </div>*@
</div>



@section Scripts{
    <script>
            require(['jquery','../lib/sweetalert2/dist/sweetalert2.all.min.js'], function ($, Swal) {
                    $(document).ready(function () {
                        $('.btn-post').click(function () {
                            console.log("adding post.");
                            var url = '@Url.Action("AsyncUpload","Common")';
                            var formData = new FormData($("#addPostForm")[0]);
                            $("#addpostcontent").addClass("active");
                            $.ajax({
                                method: 'post',
                                url: url,
                                data: formData,
                                dataType: "json",
                                processData: false,
                                contentType: false,
                                success: function (data) {
                                    $("#addpostcontent").removeClass("active");
                                    if (data.success) {
                                        location.reload();
                                    }
                                    else {
                                        Swal('Oops...', data.message, 'error')

                                    }
                                }, //End of AJAX Success function

                                failure: function (data) {
                                    console.log(data);
                                }, //End of AJAX failure function
                                error: function (data) {
                                    console.log(data);
                                } //End of AJAX error function
                            });
                        });
                    });

            });

    </script>
}